---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.github }}">{{ data.app_title }}</a>
			</h1>
			<p>
				Site de prezentare cu un design modern. Un produs Websitemarket
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Cine suntem
			</h2>
		</header>
		<div class="content">
			<p>
				<strong>WebsiteMarket</strong> este o agentie web cu sediul in Constanta, care isi propune sa ajute firmele mici si antreprenorii aflati la inceput de drum 
				sa devina vizibili in mediul online cu un buget redus.
				<br />
				Pentru a fi competitivi, utilizam doar tehnologii de ultima generatie pentru a livra site-uri rapide cu un design modern la un pret scazut.
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Strategia Noastra
						</h2>
					</header>
					<div class="content">
						<p>
							Agentia <strong>WebsiteMarket</strong> aplica o strategie noua pe piata de web design din Romania. 
							Site-urile sunt deja construite pentru diverse nise cu texte si poze, 
							iar viitorii clienti vor putea vedea si alege inca de la inceput ce design este cel mai potrivit afacerii pe care o detin.
						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope">Comunicare si suport</li>
							<li class="icon solid fa-bolt">Timp scurt de raspuns</li>
							<li class="icon solid fa-cog">Mentenanta</li>
							<li class="icon solid fa-gift">Produse de Calitate</li>
						</ul>
						<p>
							Un site de prezentare cu un design modern te va ajuta sa comunici optim cu viitorii cienti, fara a aloca o resursa umana.
						</p>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Portofoliu
						</h2>
					</header>
					<div class="content">

						<p>
							In aceasta <strong>sectiune</strong> poti afisa cateva imagini din portofoliul tau. 
							Se recomanda ca imaginile sa fie clare si sugestive.
						</p>

						<!-- Section -->
						<section>
							<header>
								<h3>
									Proiectele noastre
								</h3>
								<p>
									Peste 50 de clienti au ales sa lucreze cu noi. 
									Indiferent de complexitatea proiectelor, echipa noastra se va dedica in totalitate pentru a livra la timp si 
									cu un un nivel de calitate peste asteptarile clientului.
								</p>
							</header>
							<div class="content">
								<div class="gallery">
									<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
									<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
									<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
									<a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
								</div>
							</div>
						</section>

					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Call to Action
						</h2>
					</header>
					<div class="content">
						<p>
							In aceasta <strong>sectiune</strong>, denumita uneori <strong>call to action</strong> poti sugera utilizatorului sa ia o decizie
							legat de produsul sau serviciul oferit de tine.
						</p>
						
						<ul class="actions">
							<li><a href="{{ data.service }}" class="button primary large">Comanda Site</a></li>
							<li><a href="https://websitemarket.ro/site-gratuit" class="button large">Site-uri Gratuite</a></li>
						</ul>
					</div>
				</section>
